<template>
  <form @submit.prevent="handleSubmit">
    <label>Email:</label>
    <input type="email" v-model="f_email" required />
    <label>Password:</label>
    <input type="password" v-model="f_password" required />
    <div class="error" v-if="password_role_reminder">
      {{ password_role_reminder }}
    </div>
    <label>Role:</label>
    <select v-model="f_role">
      <option value="developer">Developer</option>
      <option value="designer">Designer</option>
    </select>
    <div>
      <label>Skill</label>
      <input
        type="text"
        v-model="temp_skill_stack"
        @keyup.alt="add_new_skill"
      />
      <div v-for="skill in skill_list" :key="skill" class="pill">
        <span @click="delete_skill(skill)">{{ skill }}</span>
      </div>
    </div>
    <div class="terms">
      <input type="checkbox" v-model="f_terms" required />
      <label>Accept terms and conditions</label>
    </div>

    <div class="submit">
      <button>Create an Account</button>
    </div>
  </form>
  <p>Email: {{ f_email }}</p>
  <p>password: {{ f_password }}</p>
  <p>Role: {{ f_role }}</p>
  <p>Terms: {{ f_terms }}</p>
</template>

<script>
import { ref } from "vue";
export default {
  setup() {
    const f_email = ref("");
    const f_password = ref("");
    const f_role = ref("");
    const f_terms = ref(false);
    const temp_skill_stack = ref("");
    const skill_list = ref([]);
    const password_role_reminder = ref("");

    function add_new_skill(e) {
      if (!skill_list.value.includes(temp_skill_stack.value)) {
        skill_list.value.push(temp_skill_stack.value);
      }
      temp_skill_stack.value = "";
    }

    function delete_skill(target) {
      skill_list.value = skill_list.value.filter((item) => {
        return target != item;
      });
    }

    function handleSubmit(e) {
      // check the password length
      password_role_reminder.value =
        f_password.value.length > 5
          ? ""
          : "Password must be at least 6 chars long";
      console.log(e);
    }

    return {
      f_email,
      f_password,
      f_role,
      f_terms,
      temp_skill_stack,
      skill_list,
      add_new_skill,
      delete_skill,
      handleSubmit,
      password_role_reminder,
    };
  },
};
</script>

<style scoped>
form {
  max-width: 420px;
  margin: 30px auto;
  background: white;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: bold;
}

input,
select {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  margin: 0 10px 0 0;
  position: relative;
  top: 2px;
}

.pill {
  display: inline-block;
  margin: 20px 10px 0 0;
  padding: 6px 12px;
  background: #eee;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

button {
  background: #0b6dff;
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
}

.submit {
  text-align: center;
}

.error {
  color: #ff0062;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
</style>